@charset "UTF-8";

// Config and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// Base
@import 
  'base/base',
  'base/typography';

// Layout
@import
  'layout/content-section',
  'layout/wave-bg-container',
  'layout/nav',
  'layout/hero';

// Components
@import
  'components/button',
  'components/wave-divider',
  'components/bg-patterns',
  'components/about-section';

//Themes
@import
  'themes/color-themes';
