@import '../abstracts/_mixins';

// Small screen styles
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  min-height: calc(100vh - 70px);

  h1 {
    padding: 1rem 0;
  }

  h2 {
    max-width: $width-text;
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: initial;
  }

  &__left {
    flex: 1;
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Medium screens styles
@include medium-screens {
  .hero {
    padding: 0 4rem;
    
    h1 {
      font-size: 3.052rem;
    }

    h2 {
      padding-top: .5rem;
    }
  }
}

@include large-screens {
  .hero {
    flex-direction: row;

    h1 {
      font-size: 3.815rem;
      text-align: left;
    }
  
    h2 {
      font-size: 1.56rem;  
      text-align: left;   
    }

    &__left, &__right {
      padding-right: 1.5rem;
    }
  } 
}