@import '../themes/_color-themes';
@import '../abstracts/_mixins';

header {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 70px;
  border-bottom: 1px solid $gray-light;
  background-color: #fff;

  ul {
    line-height: initial;
  }
}

.nav-container {
  padding: 1.25rem 2rem;
  text-transform: uppercase;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo {
  height: 26px;
}

.theme-selector {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1rem;
}

.hamburger {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.nav {
  &__items {
    display: none;
    padding-top: 1rem;
  }
  
  &__item {
    text-align: center;
    margin: 1rem auto;

    a:hover {
      @include themify($themes) {
        -webkit-text-decoration: themed('primary-color') solid underline;
        text-decoration: themed('primary-color') solid underline;
        -webkit-text-underline-position: under;
        text-underline-position: under;
        -webkit-text-underline-position: 10%;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.active {
  display: block;
}


// Large screen styles
@include large-screens {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $width-main;
    margin: 0 auto;
  }

  .nav {
    &__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: initial;
    }

    &__item {
      margin: 0 0 0 2rem;
    }
  }

  .hamburger {
    display: none;
  }
}