@import '../themes/_color-themes';
@import '../abstracts/_mixins';

header {
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-light;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
}

.theme-selector {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1rem;
}

.hamburger {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.nav {
  &__items {
    display: none;
  }
  
  &__item {
    text-align: center;
    margin: 1rem auto;

    a:hover {
      @include themify($themes) {
        -webkit-text-decoration: themed('primary-color') solid underline;
        text-decoration: themed('primary-color') solid underline;
        -webkit-text-underline-position: under;
        text-underline-position: under;
        -webkit-text-underline-position: 10%;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.active {
  display: block;
}


// Large screen styles
@include large-screens {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    &__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__item {
      margin: 0 0 0 2rem;
    }
  }

  .hamburger {
    display: none;
  }
}