@import '../themes/_color-themes';
@import '../abstracts/_mixins';

.slant-bg-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include themify($themes) {
    background-color: themed('primary-color');
  }

  .bg-pattern {
    display: none;
  }
}

@include medium-screens {
  .slant-bg-container {
    .bg-pattern {
      display: block;
    }
  }
}