@import '../abstracts/_mixins';
@import '../themes/_color-themes';

.two-col-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    flex: 1;
    display: none;
  }

  &__right {
    flex: 1;
    padding: 1rem;
    max-width: $width-text;
  }
}

//adjust text color based on background
.slant-bg-container > .two-col-flex {
  @include themify($themes) {
    color: set-text-color(themed('primary-color'));
  }
}

@include large-screens {
  .two-col-flex {
    &__right {
      max-width: initial;
      
      h1 {
        text-align: left;
      }
    }
    
    &__left {
      display: flex;
      align-items: center;
      justify-content: center;

      .pattern {
        max-width: 70%;
      }
    }
  }
}