@import '../themes/_color-themes';
@import '../abstracts/_mixins';

.wave-bg-container {
  @include themify($themes) {
    background-color: themed('primary-color');
  }
  position: relative;
  overflow: hidden;

  .bg-pattern {
    display: none;
  }
}

@include medium-screens {
  .wave-bg-container {
    .bg-pattern {
      display: block;
    }
  }
}