@import '../abstracts/_mixins';

.about {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 5rem;
  color: $gray-light;
}

@include medium-screens {
  .about {
    width: 70%;
  }
}

@include large-screens {
  .about {
    width: 60%;
  } 
}