@import '../abstracts/_mixins';
@import '../themes/_color-themes';

.about {
  color: $gray-light;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    flex: 1;
    display: none;
  }

  &__right {
    flex: 1;
    padding: 1rem;
    max-width: $width-text;
  }
}

@include large-screens {
  .about {

    &__right {
      max-width: initial;
      h1 {
        text-align: left;
      }
    }
    
    &__left {
      display: flex;
      align-items: center;
      justify-content: center;

      .pattern {
        max-width: 70%;
      }
    }
  }
}