@import '../themes/_color-themes';

.btn {
  cursor: pointer;
  
  &--circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    margin: .35rem;

    &:hover {
      border: 3px solid #fff;
    }
  }

  &--purple {
    background-color: $purple-primary;
  }

  &--orange {
    background-color: $orange-primary;
  }

  &--teal {
    background-color: $teal-primary;
  }

  &--primary {
    border-radius: 8px;
    padding: .4rem 2rem;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    @include themify($themes) {
      background-color: themed('primary-color');
    }
    

    &:hover {
      @include themify($themes) {
        background-color: themed('primary-color-dark');
      }
    }
  }
}