@import '../abstracts/_mixins';

.card {
  display: flex;
  padding: 1rem 0rem;

  h2 {
    font-size: 1.953rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.563rem;
    font-weight: 400;
  }

  h4 {
    font-weight: 600;
    padding-bottom: .5rem;
  }

  ul {
    list-style-type: circle;
    padding-left: 1.25rem;
  }

  &--large {
    flex-direction: column;

    .card__img {
      width: 100%;
      border: 1px solid $gray-light;
    }

    .card__text {
      margin: 0 auto;
      padding-left: .5rem;
    }
  }
}

@include medium-screens {
  .card {
    padding: 1rem;
  };
}