// Any section with a wave divider must have property position: relative
.wave-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    &--bottom {
      transform: rotate(180deg);
    }
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 85px;
}

.wave-divider .shape-fill {
    fill: #fff;
}