@import '../themes/_color-themes';

html {
  box-sizing: border-box;
  font-size: 16;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

ol, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
}

a {
  color: $text-color-primary;
  text-decoration: none;
}

.center-h {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

// Common widths for sections
section {
  margin: 0 auto;
  padding: 6rem 1rem; 
}

section#home {
  padding: initial;
  padding-top: 70px;}

.width-main {
  max-width: $width-main;
}

.width-text {
  max-width: $width-text;
}

// .accent-color {
//   @include themify($themes) {
//     color: themed('primary-color');
//   }
// }